[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = ">=6.0.2"
jupyterhub = "==1.1.0"
jupyterlab = "==2.2.4"
jupyter_kernel_gateway = "==2.4.0"
jupyter-nbrequirements = "*"
supervisor = "==4.1.0"

[requires]
python_version = "3.6"
